<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Barbeiros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card" *ngFor="let barber of listBarbers">
      <ion-avatar slot="start">
        <img [src]="barber.img">
      </ion-avatar>
      <ion-card-header>
        <ion-card-title>{{barber.name}}</ion-card-title>
        <p>{{barber.occupation}}</p>
      </ion-card-header>
      <ion-card-content>
        <p>{{barber.description}}</p>

      </ion-card-content>

      <ion-button [routerLink]="['/login']" color="danger" expand="full">Agende seu Horário com {{barber.name}}</ion-button>

    </ion-card>

</ion-content>