<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Barbeiros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="welcome-card">
    <ion-avatar slot="start">
      <img [src]="barber.img">
    </ion-avatar>
    <ion-card-header>
      <ion-card-title>{{barber.name}}</ion-card-title>
      <p>{{barber.occupation}}</p>
      <p>Idade: {{barber.age}} anos</p>
    </ion-card-header>

    <ion-card-content>
      <p>{{barber.description}}</p>
    </ion-card-content>
    <ion-card-content>
      <p>{{barber.history}}</p>
    </ion-card-content>

    <ion-card-content>
      <ion-item>
        <ion-icon slot="start" color="primary" name="ios-school"></ion-icon>
        <ion-label class="ion-text-wrap">{{barber.graduation}}</ion-label>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      <ion-item>
        <ion-icon slot="start" color="primary" name="ios-pin"></ion-icon>
        <ion-label class="ion-text-wrap">{{barber.location}}</ion-label>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      <ion-button color="dark" expand="full">Cortes de Cabelo: R$ {{barber.hair}},00</ion-button>
      <ion-button color="dark" expand="full">Barba: R$ {{barber.barber}},00</ion-button>
      <ion-button color="dark" expand="full">Outros Serviços: R$ {{barber.other_service}},00</ion-button>
    </ion-card-content>
    

    <ion-button [routerLink]="['/login']" color="danger" expand="full">Agende seu Horário com {{barber.name}}
    </ion-button>

  </ion-card>

</ion-content>