<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nossa Vida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="singleImageViewContainer">

    <ion-img src="/assets/images/parallax_20.jpg"></ion-img>

    <div class="singleViewContent">


      <h1 class="detailViewTitle top-left">
        História

      </h1>



      <div class="singleViewDescription" padding>
        <p>
          10 Anos de Experiência no Mercado
        </p>

        <p>
          A BarberShop foi fundada em abril de 2008 por James Harden em Belo Horizonte, MG.
          A barbearia de serviço completo de duas estações cresceu e se tornou uma marca,
          fornecendo serviços de precisão (detalhes) e excepcional atendimento ao cliente.
        </p>

        <p>
          Os serviços incluem cortes de cabelo de todos os tipos, e para todas as idades,
          de cortes de cabelo em tesoura de cavalheiros a desbotamentos modernos,
          a serviços de barbear com ponta reta, a BarberShop oferece sua experiência suprema.
          Também oferecemos uma variedade de produtos orgânicos e naturais para cabelo e barbear masculino.
        </p>

        <p>
          O nome "BarberShop" é uma criação do próprio Leandro Reis inspirado nas barbearias
          americanas, honrando seu tempo como mestre barbeiro em um spa de barbeiro anterior
          em Beverly Hills, Califórnia. Depois de dominar o comércio, Leandro trabalhou para
          abrir esta barbearia de bairro familiar a preços acessíveis.
        </p>

        <p>
          Em fevereiro de 2018, expandiu sua presença para incluir a família "The Barber's", que cresceu com 5 barbeiros
          altamente qualificados.
        </p>

      </div>

      <!--
      <ion-row padding>
        <h2 class="small-label">
          Call to Action Buttons

        </h2>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button shape="round" fill="outline" expand="block">Action 1</ion-button>

        </ion-col>

        <ion-col>
          <ion-button outline color="secondary" expand="block">Action 2</ion-button>
        </ion-col>
      </ion-row>
      -->

      <br><br>

    </div>



  </div>

  <div class="singleImageViewContainer">

    <ion-img src="/assets/images/barber_01.jpg"></ion-img>

    <div class="singleViewContent">

      <h1 class="detailViewTitle top-left">
        Mostre seu Estilo
      </h1>

      <div class="singleViewDescription" padding>
        <p>
          A BarberShop contém várias opções de ambos tipos, visual de acordo com o gosto do cliente.
        </p>

        <br><br>

      </div>

    </div>

    <ion-img src="/assets/images/barber_02.jpg"></ion-img>

    <div class="singleViewContent">


      <h1 class="detailViewTitle top-left">
        Melhores Barbeiros

      </h1>



      <div class="singleViewDescription" padding>
        
        <p>
          Contamos com os melhores barbeiros da região, ambos com vasta experência de mercado
           e perfeição na execução dos serviços. 
        </p>

        <br><br>

      </div>

    </div>

    <ion-img src="/assets/images/barber_03.jpg"></ion-img>

    <div class="singleViewContent">


      <h1 class="detailViewTitle top-left">
        Produtos
      </h1>

      <div class="singleViewDescription" padding>
        <p>
          São utilizados os melhores produtos para cabelos e barbas do mercado, 
          exigimos que o cliente tenha o melhor tratamento possível e utilize 
          produtos de qualidade. 
        </p>

        <br>

      </div>

    </div>

    <ion-button [routerLink]="['/login']" color="danger" expand="full">Agende seu Horário</ion-button>

  </div>

</ion-content>