<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="/assets/images/barber shop branca.png"></ion-img>

  <ion-card>

    <!--<ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>-->
    <ion-card-content>

      <ion-item>
        <ion-icon slot="start" color="primary" name="ios-contact"></ion-icon>
        <ion-label position="floating">Login</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <br>

      <ion-item>
        <ion-icon slot="start" color="primary" name="ios-lock"></ion-icon>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-card-subtitle>Não tem uma conta? Cadastre-se</ion-card-subtitle>

    </ion-card-content>

  </ion-card>

  <ion-button color="primary" expand="full">Entrar</ion-button>

</ion-content>