<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header color="danger">
      <ion-card-title>Registre-se</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nome de Usuário</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmação de Senha</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmação de Email</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Celular</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apelido</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Data de Nascimento</ion-label>
          <ion-icon slot="start" name="ios-calendar"></ion-icon>
          <ion-datetime display-format="DD/MMMM/YYYY" value="14/05/1997" min="1940-01-01" max="2012-01-01" placeholder="Selecione a Data de Nascimento"></ion-datetime>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-button color="danger" expand="full">Criar Conta</ion-button>
  </ion-card>

</ion-content>