<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">

    <ion-list-header>
      <ion-label>Serviços</ion-label>
    </ion-list-header>
    <!-- Colors -->

    <ion-card-header>
      <ion-card-subtitle>Montamos uma amostra dos serviços realizados na BarberShop,
        nossos profissionais são capacitados e atuam em diversas áreas, confira.</ion-card-subtitle>
    </ion-card-header>

    <ion-card *ngFor="let service of listServices" class="welcome-card">
      <ion-img [src]="service.img"></ion-img>
      <ion-card-header class="cor-card">
        <ion-card-title>{{service.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="cor-card">
        <p>{{service.description}}</p>
      </ion-card-content>
      <ion-button [routerLink]="['/login']" color="danger" expand="full">Agendar Serviço de {{service.name}}</ion-button>
    </ion-card>

    

  </ion-list>

</ion-content>