<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="/assets/images/barber_slider.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Sobre</ion-card-subtitle>
      <ion-card-title>Bem-Vindo a BarberShop</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>A BarberShop é uma barbearia versátil com bom custo benefício
        para atender clientes que procuram cuidar do visual.</p>
      <p> A BarberShop surgiu em 2008, pelos fundadores James Harden e ajuda de Kyrie Irving,
        localizado na rua Pomba Branca, nº 445, Padre Eustáquio.</p>
      <p>A barbearia conta com boa estrutura para nossos clientes, profissionais capacitados,
        que realizam os melhores cortes de cabelo, barba e entre outros serviços. </p>
      <ion-button [routerLink]="['/about']" color="danger" expand="full">Saiba mais</ion-button>
    </ion-card-content>
  </ion-card>


  <ion-list lines="none">


    <ion-list-header color="dark">
      <ion-label>Equipe The Barber’s</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-card-header>
        <ion-card-subtitle>
          <h5>
            A equipe "The Barber's" são os principais membros da BarberShop,
            são eles que fazem a mágica acontecer, responsáveis por garantir o visual formidável
            de nossos clientes. Venha fazer parte desta equipe.
          </h5>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-item>




    <ion-card class="welcome-card">
      <ion-img src="/assets/images/barber_team_04.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>James Harden</ion-card-title>
        <p>Fundador & Barbeiro</p>
      </ion-card-header>
      <ion-card-content>
        <p>“Olá pessoal, eu sou James Harden. Sou diretor de arte sênior e
          fundador da BarberShop”
        </p>

      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <ion-img src="/assets/images/barber_team_05.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Kyrie Irving</ion-card-title>
        <p>Barbeiro</p>
      </ion-card-header>
      <ion-card-content>
        <p>“Olá pessoal, eu sou Kyrie Irving. Sou barbeiro e estilista, e trago os melhores cortes
          dos Estados Unidos, Let's do it.”
        </p>

      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <ion-img src="/assets/images/barber_team_07.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Allan Felipe</ion-card-title>
        <p>Barbeiro</p>
      </ion-card-header>
      <ion-card-content>
        <p>“Fala galera, eu sou Alan Felipe. Sou o mais novo por aqui,
          especialista quando o assunto é estilo e inovação, venha nos fazer uma visita.”
        </p>

      </ion-card-content>

    </ion-card>

    <ion-button [routerLink]="['/login']" color="danger" expand="full">Agende seu Horário</ion-button>

  </ion-list>

  <ion-card>
    <ion-list *ngFor="let service of listServices">

      <ion-item [routerLink]="['/services']">
        <ion-thumbnail slot="start">
          <img [src]="service.img">
        </ion-thumbnail>
        <ion-label>{{service.name}}</ion-label>
      </ion-item>

    </ion-list>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-list lines="none">

      <ion-list-header color="dark">
        <ion-label>Avaliações</ion-label>
      </ion-list-header>

      <ion-item color="dark">

        <ion-avatar slot="start">
          <img src="../../../assets/images/testi_01.png">
        </ion-avatar>
        <ion-label>
          <h3>Júnior Franco</h3>
          <p>"Gosto muito do trabalho de vocês.</p>
          <p>Ambiente bem descontraído e divertido."</p>
        </ion-label>
      </ion-item>

      <ion-item color="dark">
        <ion-avatar slot="start">
          <img src="../../../assets/images/testi_02.png">
        </ion-avatar>
        <ion-label>
          <h3>Lucas Fermau</h3>
          <p>"Fiquei muito satisfeito com o novo visual.</p>
          <p>Muito obrigado, virei fã do trabalho de vocês."</p>
        </ion-label>
      </ion-item>

      <ion-item color="dark">
        <ion-avatar slot="start">
          <img src="../../../assets/images/testi_03.png">
        </ion-avatar>
        <ion-label>
          <h3>Jaqueline Martins</h3>
          <p>"Adorei o atendimento ao público feminino.</p>
          <p>Super indico a Barbershop."</p>
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-card>

</ion-content>