<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Horários Agendados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="black" routerLink='/appointment/{{-1}}'>
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>
    <ion-list>
      <ion-item *ngFor="let apt of listAppointments">
        <ion-avatar slot="start">
          <img [src]="apt.img">
        </ion-avatar>
        <ion-label>
          <h2>{{apt.barber}}</h2>
          <h3>{{apt.service}}</h3>
          <h3>{{apt.date}}</h3>
          <h3>{{apt.time}}</h3>
        </ion-label>
        <ion-fab-button color="black" routerLink='/appointment/{{apt.idAppointment}}'>
          <ion-icon name="ios-bookmarks"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="black" (click)="deleteAlert(apt.idAppointment)"> <!--deleteAppointment(apt.idAppointment)-->
          <ion-icon name="md-trash"></ion-icon>
        </ion-fab-button>
      </ion-item>
    </ion-list>
  </ion-card>
  
</ion-content>